:root {
    --font-family-title: 'REM', sans-serif;
    --font-family-body: 'phudu', sans-serif;
}

.countDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.timer {
    background-image: url(../../assets/Timer.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 12px;
    font-family: var(--font-family-body);
    width: 280px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}
